*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body{
    font-family: Open Sans,  sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: beige;
    background: green;

}
main{
    width: 70%;
    height: 100%;
    max-width: 1200px;
    margin: 0% auto;
    margin-top: 100px;
    padding: 0 15px ;
}


form{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0% auto;
}



input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    bottom: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 15px;
}

.boton:hover {
    background: #4BBCF4;
    color: #fff;
}
